exportPattern("^[[:alpha:]]+")

importFrom("grDevices", "dev.off", "pdf")
importFrom("utils", "write.csv")
importFrom("Seurat", "DefaultAssay<-", "DimPlot", "FindAllMarkers", "PercentageFeatureSet", "VlnPlot", "DoHeatmap", "FeaturePlot")
importFrom("dplyr", "%>%", "group_by", "slice_max", "top_n")
importFrom("ggplot2", "coord_flip", "theme", "element_blank", "element_text", "labs")
importFrom("ggpubr", "ggarrange")
importFrom("magrittr", "%>%")
importFrom("rlang", ".data")
